  /* área do conteúdo a ser exebido  */
  .content-area {
      padding: 20px;
    }
  
    /* Área de conteúdo */
    .content-area {
      padding: 20px;
    }

    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block;
    }
  
  /* Btns  */
  nav button.active {
      border-bottom: 3px solid #007bff;
      color: #007bff;
     
    }
  nav button{
    margin-left: 15px;
    margin-right: 15px;
  }
  nav {
    display: flex;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }

  .data_item{
    margin: 20px;
  }