<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container  d-flex align-items-center">
    <a class="navbar-brand" href="{% url 'home' %}">Loja Dev</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
            {% if user.is_authenticated and user.is_staff %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'produtos:cadastrar' %}">Cadastrar Produto</a>
                  </li>
              {% endif %}
         
              <li class="nav-item">
                <a class="nav-link" href="{% url 'clientes:clientes' %}">Área do Cliente</a>
              </li>
              
        {% if user.is_authenticated %}
                    <li class="nav-item position-relative">
                        <a class="nav-link" href="{% url 'produtos:finalizar' %}">
                        <span class="material-icons me-1">shopping_cart</span>
                          <span id="carrinho-count" class="position-absolute bottom-0 start-100 translate-middle badge rounded-pill bg-danger" style="display: none;">
                            0
                            <span class="visually-hidden">Itens no carrinho</span>
                          </span>
                        </a>
                    </li>
                      <li class="nav-item ms-3">
                        <a class="nav-link" href="{% url 'clientes:logout' %}">Sair</a>
                      </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>